[submodule "theme/next"]
	path = themes/next
	url = git@github.com:next-theme/hexo-theme-next.git
[submodule "source/lib/pdf"]
	path = source/lib/pdf
	url = https://github.com/next-theme/theme-next-pdf
